Indexador_de_datos_RAG_Avanzado.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11740,
        4100
      ],
      "id": "c580a148-5d33-41e8-ba56-ddb0789c9daa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a4ddc58-c303-4e51-80e3-4077dcba7e7d",
              "name": "id",
              "value": "={{ $('Google Drive Trigger1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4438fa1-1b0b-4058-b387-15f512b665a7",
              "name": "nombre",
              "value": "={{ $('Google Drive Trigger1').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12040,
        4120
      ],
      "id": "e4cc0a35-9d39-4e42-9690-5d4bd4203e5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        12300,
        4120
      ],
      "id": "aa78e6e7-74d2-46ca-8d4c-df6dff07b019",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KpQ6lNwagJUagJnb",
          "name": "Google Drive account - divisual@divisualproject.com"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "425f73f4-1f70-4bb2-b708-a400c61a2af0",
                    "leftValue": "={{ $json.nombre }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09f64b2b-2e3c-4aa7-8537-175a24958a26",
                    "leftValue": "={{ $json.nombre }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XLSX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        12540,
        4120
      ],
      "id": "fe7783a0-aff1-4e98-b0f6-8001326c49ff",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        12860,
        3960
      ],
      "id": "63da4c70-5ad3-4b72-b959-02928828de4c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        12860,
        4200
      ],
      "id": "5a6fd174-9f9a-4899-a298-b0c866c1ac51",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        13060,
        4200
      ],
      "id": "d30524d2-95f8-4d74-bdfb-b3a5e2498f4c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        13260,
        4200
      ],
      "id": "35dcd05b-9422-4e28-9bbd-6053a220a14a",
      "name": "Summarize"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        13360,
        4460
      ],
      "id": "394c2944-2e13-481d-8d08-736d0683c3d5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8hgw1j72mroqso8Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $('Edit Fields').item.json.id }}"
              },
              {
                "name": "nombre",
                "value": "={{ $('Edit Fields').item.json.nombre }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        13600,
        4440
      ],
      "id": "d2a98b53-3e3b-4413-9f4a-9e170b739405",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        13500,
        4580
      ],
      "id": "0b687923-cb8a-46fb-bf91-87d025031948",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JhMgSMiW4xKva4ZgjyG5DtbLe5mYo3RN",
          "mode": "list",
          "cachedResultName": "RAG - LECCIÓN LA TRIBU",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JhMgSMiW4xKva4ZgjyG5DtbLe5mYo3RN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        11400,
        4100
      ],
      "id": "f3849fc2-9291-4d24-b630-6750396d4b1e",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KpQ6lNwagJUagJnb",
          "name": "Google Drive account - divisual@divisualproject.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "historia_de_divisual",
          "mode": "list",
          "cachedResultName": "historia_de_divisual"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        13680,
        4200
      ],
      "id": "dc079ae0-3d73-44c0-871b-c4c2b98f2d2e",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "sLElF6DECb2rGUdK",
          "name": "Supabase account - Curso Adri"
        }
      }
    },
    {
      "parameters": {
        "content": "## Guía rápida de Chunk Size y Chunk Overlap\nReglas prácticas express\n\n\n\n\n\nTexto corto (FAQs, tweets) → 100-200 / 20-30 overlap\n\n\n\nDocs medianos (manuales, posts) → 300-400 / 50-60 overlap\n\n\n\nPDF largos / contratos → 500-800 / 60-100 overlap\n\n\n\nCódigos / JSON → segmenta por bloques lógicos (funciones, objetos) y usa sentinel tokens en lugar de solapamiento ciego.",
        "height": 460,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13900,
        4420
      ],
      "id": "b42efc8d-ba2a-46ad-ada5-e4d399603b80",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Recordatorio\n\nAquí puedes poner todos los documentos que quieras, en esta caso con PDF y XLSX es suficiente.",
        "height": 120,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        12520,
        3820
      ],
      "id": "e7abf661-9735-445a-b904-3d63d2ace8ca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 🚀 La Tribu Divisual\n\n## Este agente tiene un valor en el mercado de **$497.00**\n\n\n## Accede a **La Tribu Divisual** para aprender a crear agentes más avanzados y a generar altos ingresos con ellos de forma real y segura.\n\n# 👉 [Click aquí para unirte a la Lista de espera](https://divisualproject.academy/)\n",
        "height": 360,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11420,
        3700
      ],
      "id": "056ce79e-12c6-45fa-8fd9-3d13145e2f79",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "Generador de video": {
      "main": [
        [
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d950d984-1e41-4cd4-b4ce-574709d82ca4",
  "meta": {
    "instanceId": "2723e5c0cdf73e609a9d6131a4145b2656ca7463c71fa761a441dc255964ffd8"
  },
  "id": "JgLJz456oriiL7W9",
  "tags": [
    {
      "createdAt": "2025-05-13T08:00:58.464Z",
      "updatedAt": "2025-05-13T08:00:58.464Z",
      "id": "IxHXOpyTZspV9j2o",
      "name": "La Tribu Divisual"
    },
    {
      "createdAt": "2025-06-01T18:57:05.689Z",
      "updatedAt": "2025-06-01T18:57:05.689Z",
      "id": "uhDg4e01CCZHetVc",
      "name": "Curso Adrián Sáenz"
    }
  ]
}